/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* PRICING SECTION */
.pricing {

  text-align: center;
    padding: 60px 20px;
}

.pricing h1 {
  font-size: 36px;
}
.subtitle {
  margin: 10px 0 40px;
  color: #666;
}
.plans{
    display: flex;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}
.card {
  background: white;
  flex: 1;
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
.popular {
  border: 2px solid orange;
}
.price {
  font-size: 28px;
  margin: 20px 0;
  color: orange;
}
.card ul {
  list-style: none;
  margin: 20px 0;
}
.card li {
  margin: 10px 0;
}
.card button {
  padding: 10px;
  width: 100%;
  border: none;
  background: #222;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}
.card button:hover {
  background: orange;
}

@media (max-width: 768px) {

  .plans {
    flex-direction: column;
  }

}